on init
    # Burn
    write /dev/cpuset/foreground/cpus 0-5
    write /dev/cpuset/background/cpus 0-5
    write /dev/cpuset/system-background/cpus 0-5
    write /dev/cpuset/top-app/cpus 0-5

on late-fs
    # boot time fs tune
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/nr_requests 256
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/iostats 0
    write /sys/block/mmcblk1/queue/nr_requests 256
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048

on property:sys.boot_completed=1
    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m

    # end boot time fs tune
    write /sys/block/mmcblk0/queue/iostats 1
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk1/queue/iostats 1
    write /sys/block/mmcblk1/queue/nr_requests 128
    write /sys/block/mmcblk1/queue/read_ahead_kb 1024

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor

    # Run our kernel script
    exec u:r:init:s0 -- /init.emeriss.sh
    exec u:r:su:s0 root root -- /init.emeriss.sh
    exec u:r:magisk:s0 root root -- /init.emeriss.sh
    exec u:r:supersu:s0 root root -- /init.emeriss.sh

